body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.grainy-gradient {
    height: 100%;
    width: 100%;
    position: relative;
    background: linear-gradient(270deg, #ff007f, #ffa500); /* More saturated colors */
    background-size: 400% 400%;
    z-index: 1; /* Adjusted to ensure it's above other content */
}

.grain {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg"><filter id="noise" x="0%" y="0%" width="100%" height="100%"><feTurbulence type="fractalNoise" baseFrequency="2" numOctaves="3" stitchTiles="stitch" /></filter><rect width="100%" height="100%" filter="url(%23noise)"></rect></svg>'); /* Increased baseFrequency for pixelation */
    background-repeat: repeat;
    opacity: 0.2; /* Increased opacity */
    z-index: 0; /* Behind the grainy-gradient */
    pointer-events: none; /* This ensures it doesn't block mouse events */
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
    font-size: 48px; /* Large text size */
    color: white; /* Text color */
    text-align: center;
    z-index: 2; /* Ensure it's above the background */
}

/* Style for dropdown container */
.dropdown {
    position: absolute;
    top: 20px; /* Adjust the top position */
    left: 20px; /* Adjust the left position */
    display: inline-block;
    cursor: pointer;
    z-index: 3; /* Ensure the dropdown is above the gradient and grain */
    font-family: 'Poppins', sans-serif; /* Using Poppins font */
}

/* Style for dropdown button to match menu items */
.dropdown-button {
    background-color: transparent; /* Transparent background */
    color: #f8f8f2; /* Light color for readability, similar to dropdown links */
    font-size: 16px; /* Matching font size */
    cursor: pointer;
    padding: 12px 16px; /* Matching padding */
    text-decoration: none; /* No underline */
    display: block; /* To take padding properly */
    border: none;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

/* Style for dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(68, 71, 90, 0.7); /* Dracula theme dark background with transparency */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3; /* Same z-index as the dropdown container for consistency */
    border-radius: 4px; /* Rounded corners */
}

/* Style for dropdown links */
.dropdown-content a {
    color: #f8f8f2; /* Light color for readability */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgba(98, 114, 164, 0.7); /* Slightly lighter background for hover with transparency */
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* Style for the content container */
.content-container {
    background-color: rgba(40, 42, 54, 0.8); /* Dracula theme background with 50% transparency */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding inside the container */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* A subtle shadow for depth */
    position: absolute; /* Positioning it absolutely within its parent */
    top: 50px; /* Position from the top */
    left: 20%; /* 20% from the left side of the page */
    width: 60%; /* 60% of the page width */
    max-height: calc(100% - 100px); /* Maximum height considering the top and bottom offset */
    z-index: 2; /* Above the background but below dropdown */
    overflow-y: auto; /* Enables scrolling for overflowing content */
}

.content-container h1 {
    color: #f8f8f2; /* Light color for readability */
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

.content-container h2 {
    color: #f8f8f2; /* Light color for readability */
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 72px;
    text-align: center;
}

.content-container p {
    color: #f8f8f2; /* Light color for readability */
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
    .content-container {
        left: 10%; /* Less space on the sides for smaller screens */
        width: 80%; /* Increase width to use more space on smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
    }
}


.fullscreen-model-viewer {
    position: fixed; /* Fixed position relative to the viewport */
    top: 50%; /* Centered vertically */
    left: 50%; /* Centered horizontally */
    width: 60vw; /* 60% of the viewport width */
    height: 60vh; /* 60% of the viewport height */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    transform: translate(-50%, -50%); /* Adjust position to be truly centered */
    z-index: 1000;
}